<?xml version="1.0"?>

<launch>

  <arg name="robot_namespace" default="robot"/>
  <arg name="debug" default="false"/>
  <arg name="ur5" default="false"/>
  <arg name="lidar" default="false"/>
  <arg name="stick" default="false"/>
  <arg name="vx300s" default="true"/>
  <arg name="robot_model"                       default="robot"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="dof"                               default="6"/>

  <arg name="x" default="9"/>
  <arg name="y" default="13.3"/>
  <arg name="z" default="0.13"/>
  <arg name="yaw" default="-1.57"/>

  <!-- Optionally disable teleop control -->
  <arg name="joystick" default="true" />

  <group if="$(arg ur5)">
    <node pkg="tf" type="static_transform_publisher" name="world_publisher"
    args="9.0 13.3 0.13 -1.57 0.0 0.0 world odom 100"/>

    <node pkg="tf" type="static_transform_publisher" name="fake_publisher" 
      args="0.18 0.0 0.0 0.0 0.0 0.0 ur5/ee_link object_link 100"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_tf"
      args="0.014682 -0.055383 -0.019393 0.696 0.050 0.060 0.714 ur5/ee_link camera_link 100"/> -->
  </group>

  <group ns="$(arg robot_namespace)">

    <include file="$(find husky_ur5)/launch/robot_control.launch">
        <arg name="robot_namespace" value="$(arg robot_namespace)" />
        <arg name="lidar" value="$(arg lidar)" />
        <arg name="ur5" value="$(arg ur5)" />
        <arg name="stick" value="$(arg stick)" />
        <arg name="vx300s" value="$(arg vx300s)"/>
    </include>

    <include file="$(find husky_control)/launch/teleop.launch">
        <arg name="joystick" value="$(arg joystick)" />
    </include>

    <!-- Spawn robot in gazebo -->
    <node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model robot
              -robot_namespace $(arg robot_namespace)" />

    <group if="$(arg ur5)">
      <!-- ur5 simulation -->
      <include file="$(find arm_operation)/launch/ur5_sim.launch">
            <arg name="tool_length" default="0.18"/>
            <arg name="namespace" default="$(arg robot_namespace)" />
      </include>

      <!-- UR5 endeffector control -->
      <node pkg="ur5_bringup" type="ur5_control.py" name="ur5_control_node" output="screen">
          <param name="name" value="$(arg robot_namespace)"/>
      </node>

      <!-- husky_ur5 control -->
      <node pkg="husky_ur5_bringup" type="husky_ur5_control.py" name="husky_ur5_node" output="screen"/>
      
    </group>
    
    <group if="$(arg vx300s)">
      <include file="$(find interbotix_xsarm_moveit)/launch/move_group.launch">
        <arg name="robot_model"                       value="$(arg robot_model)"/>
        <arg name="robot_name"                        value="$(arg robot_name)"/>
        <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
        <arg name="show_ar_tag"                       value="false"/>
        <arg name="external_srdf_loc"                 value=""/>
        <arg name="dof"                               value="$(arg dof)"/>
        <arg name="fake_execution"                    value="false"/>
        <arg name="publish_monitored_planning_scene"  value="true" />
      </include>
    </group>

<!--     <node
      name="moveit_python_interface"
      pkg="interbotix_moveit_interface"
      type="moveit_python_interface"
      respawn="false"
      output="screen">
      <rosparam command="load"                      file="$(find interbotix_xsarm_moveit_interface)/config/vx300s.yaml"/>
      <param name="robot_model"                     value="$(arg robot_model)"/>
      <remap from="/attached_collision_object"      to="/$(arg robot_name)/attached_collision_object"/>
      <remap from="/collision_object"               to="/$(arg robot_name)/collision_object"/>
    </node> -->

  </group>

</launch>
